@(loginForm: Form[LoginInfo])(implicit messagesProvider: MessagesProvider)


@main("Login", tab = "index") {


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-xl-5">
        <div class="navbar-brand">SAAS</div>
    </nav>
    <div class="container">
        @if(loginForm.hasErrors) {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @if(loginForm.errors.size > 0) {
                    @for(error <- loginForm.errors) {
                        @error.message
                    }
                } else {No error returned.}
            </div>
        }
        <div class="py-5 text-center">
            <h1>
                Sleep As A Symptom
            </h1>
                <!--
                @*
                @b4.horizontal.form(routes.Application.loginAttempt, "col-lg-2", "col-lg-6") { implicit vfc =>
                    @b4.email(loginForm("email"), '_label -> "Email", 'placeholder -> "email@domain.com")
                    @b4.password(loginForm("password"), '_label -> "Password", 'placeholder -> "password")
                    @b4.submit('class -> "btn btn-secondary col-md-4 text-center") {
                        <i class="fa fa-ok "></i> Login }
                }
                *@
                -->
            <div class="row">
                <div class="col-md-6 mx-auto">
                    @b4.vertical.form(routes.Application.loginAttempt) { implicit vfc =>
                        @b4.email(loginForm("email"), '_label -> "", 'placeholder -> "Email address")
                        @b4.password(loginForm("password"), '_label -> "", 'placeholder -> "Password")
                        @b4.submit('class -> "btn btn-secondary col-md-4 text-center") { Login }
                    }
                </div>
            </div>
        </div>

    </div>

}