@(registerForm: Form[RegistrationInfo])(implicit messagesProvider: MessagesProvider)

@main("Register", tab = "register") {


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-xl-5">
        <div class="navbar-brand">SAAS</div>
    </nav>

    @if(registerForm.hasErrors) {
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">x</a>
            @if(registerForm.errors.size > 0) {
                @for(error <- registerForm.errors) {
                    @error.message
                }
            } else {No error returned.}
        </div>
    }
    <div class="container">
        <div class="jumbotron mt-xl-5">
            <div class="display-4 text-center mb-xl-4">Sleep As A Symptom</div>
            <div class="container ">
            @b4.horizontal.form(routes.Application.registerAttempt, "col-lg-2", "col-lg-6") { implicit hfc =>
                @b4.text(registerForm("firstName"), '_label -> "First Name", 'placeholder -> "i.e. Morgan")
                @b4.text(registerForm("lastName"), '_label -> "Last Name", 'placeholder -> "i.e. Smith")
                @b4.email(registerForm("email"), '_label -> "Email", 'placeholder -> "i.e. email@domain.com")
                @b4.password(registerForm("password"), '_label -> "Password", 'placeholder -> "i.e. password")
                @b4.password(registerForm("confirmPassword"), '_label -> "Confirm Password", 'placeholder -> "i.e. password")
                @b4.submit('class -> "btn btn-secondary col-md-4 text-center") {
                    <i class="fa fa-ok "></i> Register }
            }
            </div>
        </div>
    </div>

}